.projects-warp{
    width: 100%;
	height: 100%;
    .p-warp{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fff;
        .nav-search{
            height: 60px;
            position: absolute;
            left: 8px;
            top: 8px;
            right: 8px;
            text-align: left;
            padding-left: 15px;
            background-color: #F4F5F7;
            border: 1px solid #E9E9EB;
            .el-form-item{
                margin-bottom: 14px;
                margin-top: 14px;
            }
        }
        .nav-menu{
            height: 60px;
            position: absolute;
            left: 8px;
            right: 8px;
            top: 68px;
            text-align: left;
            .el-row{
                margin-top: 14px
            }
        }
        .nav-tab{
            position: absolute;
            left: 8px;
            right: 8px;
            top: 128px;
            bottom: 0px;
            // background-color: #F7F7F7;
            padding-bottom: 60px;
            th {
                background-color: #F7F7F7;
            }
        }
        .nav-footer{
            position: absolute;
            left: 8px;
            right: 8px;
            bottom: 0px;
            height: 50px;
            text-align: right;
            // background-color: #F7F7F7;
            .el-pagination{
                margin-top: 8px;
            }
        }
    }
}